$white:#fff;
$theme-color-light:#cce4ff;
$theme-color-dark:#1f1f70;
$theme-color-dark-hover:#4c1f70;
$theme-background-image:url(../images/login.png);
$box-shadow-dropdown: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
