@import 'variables';
@import 'mixins';
html,body{min-height:100%;}
body{margin:0;font-family:'Mulish', sans-serif;background-color:#f9f9f9}
*{padding:0;margin:0;box-sizing:border-box;}
ul, li{list-style:none;padding:0;margin:0;}

/*BOF Header Article********************************/
.header{
    background-color:$white;
    .header-inner{
        display:flex;
        align-items:center;
        justify-content:space-between;
        min-height:64px;
        .brand{
            display:flex;
            align-items:center;
            padding:0;
            margin:0;
            a{
                width:64px;
                height:64px;
                display:block;
            }
        }
        ul.head-right{
            display:flex;
            align-items:center;
            padding-right:20px;
            li{
                padding:0 0 0 10px;
                a.items{
                    width: 35px;
                    height: 35px;
                    border: #d9d9d9 solid 1px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:$theme-color-dark;
                    text-decoration:none;
                    &:hover{
                        background-color:$theme-color-dark-hover;
                        border-color:$theme-color-dark-hover;
                        color:$white;
                    }
                }
                .dropdown-menu{
                    padding:0;
                    margin:0;
                    border-radius:12px;
                    border:0;
                    box-shadow:$box-shadow-dropdown;
                    overflow: hidden;
                    background-color:#f7f7f7;
                    li{
                        padding:0;
                        margin:0;
                        border-bottom:#ffffff solid 1px;
                        a{
                            padding:10px 15px;
                            font-size:14px;
                            i{
                                margin-right:10px;
                            }
                        }
                        &:last-child{
                            border:0;
                        }
                    }
                }
            }
        }
    }
}
/*EOF Header Article********************************/