<section class="wrapper-for-user">
    <article class="right-article">
        <article class="center-article">
            <h1>Welcome to Login</h1>
            <form action="">
                <article class="form-field">
                    <mat-label class="field-label">Email</mat-label>
                    <div class="input-field">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="email" matInput placeholder="Ex. pat@example.com">
                            <mat-error>
                                Please enter a valid email address
                            </mat-error>
                            <mat-error>
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </article>
                <article class="form-field">
                    <mat-label class="field-label">Password</mat-label>
                    <div class="input-field">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="password" matInput placeholder="Password">
                            <mat-error>
                                Please enter a valid email address
                            </mat-error>
                            <mat-error>
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </article>
                <article class="forgot-password-link">
                    <a class="" href="javascript:void()" routerLink="/forget-password">Forgot Password</a>
                </article>
                <article class="form-field">
                    <div class="button-field">
                        <button mat-flat-button color="primary">Log in</button>
                    </div>
                </article>
                <article class="account-link">
                    Don't have an account? <a href="javascript:void()" routerLink="/signup">Signup</a>
                </article>
            </form>
            <!-- <a class="link-secondary p-2" href="javascript:void()" routerLink="/">Login</a>
            <a class="link-secondary p-2" href="javascript:void()" routerLink="/signup">Signup</a>
            
            <a class="link-secondary p-2" href="javascript:void()" routerLink="/change-password">Change Password</a>
            <a class="link-secondary p-2" href="javascript:void()" routerLink="/dashboard">Dashboard</a> -->

        </article>
    </article>
</section>