<header class="header">
    <article class="header-inner">
        <h1 class="brand"><a href="javascript:void()"><img src="../../../../assets/images/hamburger-icon.svg" alt=""></a>My App</h1>
        <ul class="head-right">
            <li><a href="javascript:void()" class="items"><i class="fa-solid fa-bell"></i></a></li>
            <li>
                <a href="javascript:void()" class="dropdown-toggle items" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:void()"><i class="fa-solid fa-user-tie"></i>Action</a></li>
                    <li><a class="dropdown-item" href="javascript:void()"><i class="fa-solid fa-gear"></i>Another action</a></li>
                    <li><a class="dropdown-item" href="javascript:void()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Something else here</a></li>
                  </ul>
            </li>
        </ul>
    </article>
</header>